
.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
#btn {
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}
  
.btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}