<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <!--Remove the below before deployment-->
        <meta http-equiv=“Pragma” content=”no-cache”>
        <meta http-equiv=“Expires” content=”-1″>
        <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>

        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "eplus_main/eplus.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{% static "eplus_main/scripts/index.js" %}"></script>
        <title>Energyplus</title>
    </head>
    <body>
        <div id="modal" class="modal">
            <div class="modal-content">
                <div id="correct_msg">
                    Uploaded file: <span id="file_name"></span>
                </div>
                <div class="compilebtn">
                    <btn class="btn btn-danger" id="compilebtn" onclick="submit()">Compile</btn>
                </div>
                <div class="closebtn">
                    <btn class="btn btn-secondary" onclick="closeModal('modal')">Close</btn>
                </div>
                <div id="error_msg" style="display: none">
                    <h3>Error: uploaded file is not a zip!</h3>
                </div>
            </div>
        </div>

        </div>
        <div class="col-md-4">
            <div class="image-align"><img src="{% static "eplus_main/images/energyplus.jpeg" %}"></div>
            <div class="image-align"style="font-weight: bold;">This tool uses EnergyPlus, Version 8.9.0</div>
            <div class="image-align">Maintained by Daniel Bellissimo, Ryerson University</div>
            <div class="image-align">If you are experiencing errors please email: djbellis@ryerson.ca</div>
        </div>
        <div class="col-md-5 preamble-align">
            <div>
                <p>
                    This free tool allows you to submit a zipped folder of .idf files which can then be processed sequentially using EnergyPlus Version 8.9.<br><br>
                    If you would like to check the status of your running batch jobs, please visit the 
                    <a href="jobs" style="font-weight: bold;">jobs</a> page.<br><br>
                    This page works best with Google Chrome  
                </p>
            </div>
            <div class="form-input">
                <div>Please upload a ZIP file containing all of your energyplus idf files:</div>
                <div class="btn-wrapper">
                    <form action="process_zip" id="upload" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <button id="btn" class="btn btn-danger">Upload ZIP</button>
                        <input type="file" name="zip_file" onchange="openModal('modal')" id="myfile">
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
