{% load static %}
<!--Remove the below before deployment-->
<meta http-equiv=“Pragma” content=”no-cache”>
<meta http-equiv=“Expires” content=”-1″>
<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "eplus_main/eplus.css" %}">
<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
<script type="text/javascript" src="{% static "eplus_main/scripts/index.js" %}"></script>
<title>Energyplus</title>
{% include "eplus_main/navbar.html" %}