<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="" style="font-family: 'Play', sans-serif;">{{ username }}</a>
        </div>
        <ul class="nav navbar-nav head-nav">
            <li class="nav-item active"><a href="/eplus_main">Submission</a></li>
            <li a class="nav-item" ><a href="/eplus_main/eplus_processes">Processes</a></li>
            <li class="nav-item"><a href="">About</a></li>
            <li class="nav-item"><a href="/accounts/logout">Logout</a></li>
        </ul>
    </div>
</nav>